<% provide(:title, "Home") %>
<h1>5K run for Helpless Animals</h1>

<div class="center jumbotron">
  <h2 class="aboutHeading">About Us</h2>
  <p class="aboutText">
     The Hayes Center for Helpless and Abused Animals is a non-profit animal rights
     advocacy group that operates no-kill shelters nation wide. Our mission is
     to push legislation to ensure the humane treatment of animals and to educate
     the public on the struggles that our furry friends face. Join us for our 10th 
     annual 5k Run for Helpless Animals to help raise money and awareness for
     this worthy cause.
  </p>
</div>

<div class="center jumbotron">
  <h2 class="infoHeading">Race Info</h2>
  <p class="info">
    <ul>Date: June 23, 2018</ul>
    <ul>Time: 9:00 a.m.</ul>
    <ul>Location: Waterfront Park, Charleston, SC</ul>
    <ul>Entrance fee: $20 to be paid on race day</ul>
  </p>
</div>

 